[submodule "daemon"]
	path = daemon
	url = git@github.com:mertdogan12/led-daemon.git
[submodule "arduino"]
	path = arduino
	url = git@github.com:mertdogan12/led-arduino.git
[submodule "cli"]
	path = cli
	url = git@github.com:mertdogan12/led-cli.git
